{#
/**
 * @file credentials.html.twig
 * Default theme implementation to present Credentials data.
 *
 * This template is used when viewing Credentials pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_credentials()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('credentials') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
